/*
last change: 24.06.2024
author: Tjorven Burdorf

description: style of the chat page
*/
/* additional css for the chatbot frame */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.chat {
    align-self: center;
    background-color: rgba(30, 30, 30, 0.75);
    color: #ffffff;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 60vh;
    min-height: 300px;
    width: 80vw;
    min-width: 300px;
    max-width: 1000px;
    overflow-y: auto;
}

.explanation {
    width: 80vw;
    margin-top: 50px;
}

p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
}

a {
    color: #a5f8f5;
}

a:hover {
    color: #368fde;
}

a:visited {
    color: #446988;
}
