/*
last change: 24.06.2024
author: Vincent Guttmann

description: style of the chat window
*/

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
  width: 100%;
}

.author {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.bot {
  align-self: flex-start;
  margin-left: 20px;
}

.user {
  align-self: flex-end;
  margin-right: 20px;
}

.author-text {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  max-width: 80%;
}

.user-text {
  align-self: flex-end;
  text-align: end;
  background-color: #fdfdfd52;
  color: #fff;
  border-radius: 12px 12px 0px 12px;
}

.bot-text {
  align-self: flex-start;
  background-color: #D0CEBA;
  color: #000000;
  border-radius: 12px 12px 12px 0px;
}

.bot-text a {
  color: #000;
}

.author-info {
  font-size: 12px;
  color: #757575;
  margin-right: 10px;
}

.user-info {
  align-self: flex-end;
}

.bot-info {
  align-self: flex-start;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 12px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #ffffff41;
  color: #fff;
  margin: 6px;
}

.chat-input input:focus {
  border: 1px solid #D0CEBA;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #D0CEBA;
  color: #121212;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #8a8768;
  color: #ffffff;
}
