<!--
last change: 24.06.2024
author: Vincent Guttmann

description: display of the chat window
-->

<!-- container for division of the display -->
<div class="chat-container">
  <!-- displays all messages -->
  <div class="chat-messages" #messageContainer>
    <div *ngFor="let field of controller.messages" class="{{field.cssClass}} author">
      <div class="{{field.cssClass}}-text author-text" [innerHTML]="field.text"></div>
      <div class="{{field.cssClass}}-info author-info">
        {{field.author}} &#64; {{field.time}}
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input placeholder="Your message..." [(ngModel)]="message" (keydown.enter)="sendMessage()" #chatInput>
    <button class="transition" (click)="sendMessage()">Send</button>
  </div>
</div>
