/*
last change: 24.06.2024
author: Tjorven Burdorf

description: style of the chat window
*/
/* additional styles for the chat window */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-y: auto; /* Add scrollbar when content exceeds height */
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Ensure messages are scrollable */
    flex: 1;
    width: 100%;
}

/* adjusted styles according to the sender (eg. left and right display) */
.bot {
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* Align messages to the left */
    max-width: 70%; /* Limit message width for readability */
    margin-left: 20px;
}
.user {
    display: flex;
    flex-direction: column;
    align-self: flex-end; /* Align messages to the left */
    max-width: 70%; /* Limit message width for readability */
    margin-right: 20px;
}

.user-text {
    align-self: flex-end;
    position: relative;
    text-align: end;
    background-color: #bbdefb; /* Light blue background for user messages */
    color: #000000; /* Black text color */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 80%; /* Limit width of message */
}

.bot-text {
    align-self: flex-start;
    position: relative;
    background-color: #bbdefb; /* Light blue background for user messages */
    color: #000000; /* Black text color */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 80%; /* Limit width of message */
}

.user-info {
    align-self: flex-end; /* Align sender info to the right */
    font-size: 12px;
    color: #757575;
    margin-right: 10px; /* Margin between text and sender info */
}

.bot-info {
    align-self: flex-start; /* Align sender info to the right */
    font-size: 12px;
    color: #757575;
    margin-right: 10px; /* Margin between text and sender info */
}

/* style for the input field */
.chat-input {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 10px;
    margin: 20px;
}

.chat-input input {
    flex: 1; /* Take remaining space */
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #3700b3;
    color: #ffffff;
}
