<!--
last change: 24.06.2024
author: Vincent Guttmann

description: display of the chatbot page
-->

<div class="app-cont">
  <!-- additional info -->
  <div class="explanation">
    <h2>Microcontroller Chooser v1</h2>
    <h3>What does it do:</h3>
    <p>
      This tool will help you choose the correct microcontroller/embedded processor solution for your application, budget and preexisting knowledge.
      Whether you're an embedded veteran looking to validate preexisting beliefs, or a beginner looking for some guidance - we have what you need!
    </p>
    <br>
    <h3>About the Application:</h3>
    <p>
      This application functions as a platform where users can engage with the Microcontroller Chooser Chatbot to find microcontrollers tailored to their specific needs. The chatbot considers factors such as application, budget, toolchain, and desired features to deliver the best recommendations.
    </p>
  </div>

  <!-- different display in the chat window depending on the login -->
  <div class="container">
    <div *ngIf="controller.loggedIn" class="chat">
        <app-chat></app-chat>
    </div>
    <div *ngIf="!controller.loggedIn" class="chat">
        <app-data></app-data>
    </div>
  </div>
</div>
