<!--
last change: 24.06.2024
author: Vincent Guttmann

description: display of the login page
-->
<!-- displays the login window -->
<div class="container">
    <app-data></app-data>
</div>
<!-- displays the explaining text -->
<div class="container">
    <h2>Welcome to Drone Finder Application</h2>
    <h3>Purpose of the Application:</h3>
    <p>
        Welcome to the Drone Finder Application, a project developed as part of our university coursework. This
        application is designed to help you find the perfect drone that suits your needs and preferences. Whether you're
        new to drones or an experienced pilot, our interactive chatbot guides you through a series of questions to
        recommend the most suitable drone model for you.
    </p>

    <h3>About the Application:</h3>
    <p>
        This application serves as a platform where users can interact with the Drone Finder Chatbot to discover drones
        based on their specific requirements. The chatbot takes into account factors such as application, budget,
        automation and desired features to provide optimal recommendations.
    </p>
    <p>
        Beyond the chatbot, users can explore additional pages:
    </p>

    <h4>About Page:</h4>
    <p>
        The About page offers insights into the development of the Drone Finder Application. Learn more about the
        project's objectives, implementation and the technologies used to build the chatbot and support functionalities.
        This page provides a comprehensive overview of the application's mission and goals.
    </p>

    <h4>Imprint Page:</h4>
    <p>
        The Imprint page provides legal information and details about the website's owner. Here, you'll find contact
        information, copyright notices, and data protection policies. It ensures transparency regarding the
        application's operation and compliance with legal requirements.
    </p>
</div>
