<!--
last change: 24.06.2024
author: Tjorven Burdorf

description: display of the static content
-->
<div class="container">
    <h1>{{ title }}</h1>
    <!-- header with links to subpages -->
    <nav class="header">
        <a routerLink="/login">Login</a>
        <a routerLink="/chat">Chatbot</a>
        <a routerLink="/evaluation">Evaluation</a>
        <a routerLink="/external">Info</a>
        <a routerLink="/about">About</a>
        <a routerLink="/imprint">Imprint</a>
    </nav>
    <!-- here the site content is pasted -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <!-- footer with marginal information -->
    <div class="footer">
        <p>Technische Hochschule Deggendorf | Internettechnologien - Winterfeld | Projektarbeit von Tjorven Burdorf</p>
    </div>
</div>
