<!--
last change: 24.06.2024
author: Vincent Guttmann

description: display of the static content
-->

<div class="container">
  <div class="header">
    <h2>{{ title }}</h2>

    <!-- header with links to subpages -->
    <nav>
      <a class="transition" routerLink="/chat">Chatbot</a>
      <a class="transition" routerLink="/evaluation">Evaluation</a>
      <a class="transition" routerLink="/external">Info</a>
      <a class="transition" routerLink="/about">About</a>
      <a class="transition" routerLink="/imprint">Imprint</a>
    </nav>
  </div>

  <!-- here the site content is pasted -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- footer with marginal information -->
  <div class="footer">
    <p>Technische Hochschule Deggendorf | Internettechnologien - Winterfeld | Projektarbeit von Vincent Guttmann</p>
  </div>
</div>
