<!--
last change: 24.06.2024
author: Tjorven Burdorf

description: display of the imprint page
-->
<!-- Static page with legal content -->
<div class="container">
    <!-- Contact data -->
    <p><strong>Information according to § 5 TMG</strong></p>
    <p>
        Tjorven Burdorf<br>
        Elisabeth-Rothweiler-Straße 7<br>
        78166 Donaueschingen<br>
        Germany
    </p>
    <p><strong>Contact Information</strong></p>
    <p>
        Phone: +49 175 726 2786<br>
        Email: <a href="mailto:tjorven@burdorf.dev">tjorven{{"@"}}burdorf.dev</a>
    </p>
    <br><br>
    <!-- Right and legal notice concerning the content -->
    <p><strong>Accountability for content</strong></p>
    <p>
        The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
        accuracy, completeness, or topicality.
    </p>
    <p><strong>Accountability for links</strong></p>
    <p>
        Responsibility for the content of external links (to web pages of third parties) lies solely with the operators
        of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement
        become known to us, we will remove the respective link immediately.
    </p>
    <p><strong>Copyright</strong></p>
    <p>
        Our web pages and their contents are subject to international copyright law. Unless expressly permitted by law,
        every form of utilizing, reproducing, or processing works subject to copyright protection on our web pages
        requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only
        allowed for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization
        of copyrighted works is punishable.
    </p>
    <p><strong>Data Protection</strong></p>
    <p>
        A visit to our website can result in the storage on our server of information about the access (date, time, page
        accessed - not so far but according work is in process). This does not represent any analysis of personal data
        (e.g., name, address, or email address - which will remain as it is).
    </p>
    <p>
        We would like to expressly point out that the transmission of data via the Internet (e.g., by email) can offer
        security vulnerabilities. It is therefore impossible to safeguard the data completely against access by third
        parties. We cannot assume any liability for damages arising as a result of such security vulnerabilities.
    </p>
    <p><strong>Source:</strong> This imprint was created with the help of the Imprint Generator by eRecht24 and ChatGPT.</p>
</div>
