/*
last change: 24.06.2024
author: Vincent Guttmann

description: style of the imprint page
*/
/* additional content for the imprint */

strong {
    text-decoration: underline;
    font-size: 16px;
}

.container {
    width: 80vw;
    min-width: 400px;
    max-width: 1000px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
