/*
last change: 24.06.2024
author: Vincent Guttmann

description: global style of the application
*/
/* global styles */
body {
    margin: 0;
    background: linear-gradient(-90deg, rgba(20,34,44,1) 0%, rgba(20,38,72,1) 100%);
    font-family: Roboto, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e0e0e0;
}

/* Header */
h1 {
    color: #D0CEBA;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}
h2 {
    color: #D0CEBA;
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}
h3 {
    color: #D0CEBA;
    text-align: center;
    font-size: 20px;
}
h4 {
    color: #D0CEBA;
    text-align: center;
}

p {
    text-align: center;
}
